* { box-sizing:border-box; }

body{ margin:0; background:#66ccff; }

ul {
  position:relative;
  height:450px; 
  width:900px;
  background:black;
  margin: 120px auto;
  border-radius:1em;
}

li { 
  margin:0; 
  padding:0; 
  list-style:none; 
  position:relative; 
  float:left; 
  top:15.8em;
  left:9em;
}

ul .white {
  height:200px; width:45px; z-index:1;
  border-left:1px solid #bbb;
  border-bottom:1px solid #bbb;
  border-radius:0 0 5px 5px;
  box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0,0,0,0.2);
  background:white;
}

ul .white:active {
	border-top:1px solid #777;
	border-left:1px solid #999;
	border-bottom:1px solid #999;
	box-shadow:2px 0 3px rgba(0,0,0,0.1) inset, -5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
	background: linear-gradient(to top, #fff 0%,#e9e9e9 100%);
}

ul .black {
  height:120px; width:28px; margin:0 0 0 -16px; z-index:2;
  border:1px solid #000;
  border-radius:0 0 3px 3px;
  background:linear-gradient(45deg, #222 0%,#555 100%);
}

.black:active {
	box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -2px 2px 3px rgba(0,0,0,0.6) inset, 0 1px 2px rgba(0,0,0,0.5);
	background:linear-gradient(to left, #444 0%,#222 100%);
}

.a,.b,.d,.e,.g, { margin:0 0 0 -12px; }

ul li:first-child { border-radius:5px 0 5px 5px; }
ul li:last-child { border-radius:0 5px 5px 5px; }