* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #66ccff;
}

//black body 
ul {
  position: relative;
  height: 450px;
  width: 900px;
  background: black;
  margin: 50px auto;
  border-radius: 1em;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left;
} 

//wood panels 
.left {
  float: left;
  background: #996633;
  position: relative;
  height: 470px;
  width: 30px;
  left: -3em;
  top: -10px;
  z-index: 2;
  border-radius: 3px;
}

.right {
  float: right;
  background: #996633;
  position: relative;
  height: 470px;
  width: 30px;
  top: -13em;
  left: 3.5em;
  z-index: 2;
  border-radius: 3px;
}

.bl {
  background: #996633;
  position: relative;
  height: 20px; 
  width: 130px;
  top: 26.9em;
  left: -3em;
  z-index: 2;
}

.br {
  float: right;
  background: #996633;
  position: relative;
  height: 20px; 
  width: 51px;
  top: 14.5em;
  right:1.35em;
  z-index: 2;
}

//white keys
ul .white {
  height: 200px;
  width: 45px;
  top: 15.8em;
  left: -3em;
  z-index: 1;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset,
    0 0 3px rgba(0, 0, 0, 0.2);
  background: white;
}

//when white keys are pressed
ul .white:active {
  border-top: 1px solid #777;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset,
    -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(top, #fff 0%, #e9e9e9 100%);
}

//black keys
ul .black {
  height: 120px;
  width: 28px;
  top: 15.8em;
  left: -3em;
  margin: 0 0 0 -16px;
  z-index: 2;
  border: 1px solid #000;
  border-radius: 0 0 3px 3px;
  background: linear-gradient(45deg, #222 0%, #555 100%);
}

//when black keys are pressed
.black:active {
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(left, #444 0%, #222 100%);
}

//fill white space
.a,
.b,
.d,
.e,
.g {
  margin: 0 0 0 -12px;
}
